* {
    margin: 0;
    padding: 0;
}
@font-face { 
    font-family: "Gilroy-Bold";
    src: url("./GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px
}
.center{
    padding-left: calc(50% - 1170px/2);
    padding-right: calc(50% - 1170px/2);
    } 
.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px 
}    
.header-logo-text {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header-logo-text-orange {
    color: #F25822;
}
.header-nav{
    padding-top: 40px;
    padding-bottom: 40px;
}
.main-content{
    padding-top: 49px;
    padding-bottom: 162px;
    gap: 41px;
    display: flex;
}
.header-link-colored {
    color: #F25822;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.header-link {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 40px;
}
.heading{
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}
.paragraph{
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}
.main-content-buttons{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 72px;
}
.click-start{
    border-radius: 50px;
    border: none;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20); 
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.click-watch{
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}
.logos{
    display: flex;
    padding-top: 97px;
    padding-bottom: 97px;
    justify-content: space-between;
    gap: 47px;
}
.about-us {
    display: flex;
    align-items: center;
    padding-top: 127px;
    padding-bottom: 124px;
    background: #FAFAFA;
}
